@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Source+Sans+Pro:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}
h1, h2, h3{
  font-family: 'Raleway', sans-serif;
}
h2, h3{
  font-size: 21px;
  font-family: 'Source Sans Pro', sans-serif;
}
h1{
  font-size: 42px;
}
p{

  font-size: 14px;
}
body {
  overflow: hidden;
  background: linear-gradient(-45deg, rgb(1, 43, 133), rgb(2, 9, 41), rgb(1, 43, 133), rgb(2, 9, 41));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  /*background-size: cover;*/
  height: 100vh;
  width: 100vw;
  -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
  }
}
#backgroundGraphic{
  z-index: -10;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
figure{
  z-index: -10;
  position: relative;
  margin-top: -350px;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background: linear-gradient(#dc5197, #fffcec);
}
footer {
  z-index: 10;
  left: 0;
  padding: 0;
  margin: 0;
  display: flex;
  position:fixed;
  justify-content: center;
  bottom:0px;
  width: 100%;
  height:55px;
  background-color: rgba(0, 0, 0, 0.55);
}

.linkFooter{
  margin: 0 0 0 10px;
}
.iconsFooter{
  opacity: 1!important;
  object-fit: contain;
  color: white;
  width: 65px;
  height: 55px;
}
.iconsFooter:hover{
  border-bottom:2px solid lightblue
}
#abouttekst{
  float: left;
}
#profilepic{
  border-color: gray;
  max-height: 200px;
  max-width: 600px;
}

#linkdIn{
  text-decoration: none;
  display: block;
}
#gitHub{
  text-decoration: none;
  display: block;
}
#mail{
  text-decoration: none;
  display: block;
}
#cv{
  text-decoration: none;
  display: block;
}
.Icons {
  object-fit: contain;
  width: 65px;
  height: 75px;
  background: rgba(0, 0, 0, 0.0);
  margin: 10px;
  border-radius: 3px;
  transition: all 0.15s ease-in-out;
  border: 1px solid transparent;
}
.file{
  width: 65px;
  height: 65px;
}
.Icons:Hover {
  background: rgba(66, 165, 245, 0.15);
  border: 1px solid #90CAF9;
  cursor: pointer;
}

.Icons:Active {
  border: 1px solid #90CAF9;
  background: rgba(66, 165, 245, 0.5);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.Label{
  padding:0em;
  margin-top: -20px;
  text-align: center;
  color: white;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
}
/*Bron voor scaling:https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_resize */
#PopUpAbout{
  width: 800px;
  height: 450px; 
  display: none;
  border: 2px solid;
  overflow: auto;
  display: none;
  background: white;
/*  max-width: 1000px;
  max-height: 500px;*/
}
#softwareKnw{
  right: 100px;
  margin: 0;
  position: absolute;
}
#softwareKnw h3{
  margin: 0 0 20px 0;
}
.softwareKnw, li{
  margin: 0 0 5px 0;
  list-style: none;
  text-align: center;
}
#PopUpWerk{
  width: 950px;
  height:550px; 
  display: none;
  border: 2px solid;
  display: none;
  background: white;
/*  max-width: 1000px;
  max-height: 500px;*/
}

.backLink{
    font-weight: bold;
}
#headerPopUp{
  position: absolute;
  z-index: 9;
  margin-top: 0px;

}
#headerPopUpWerk{
  position: absolute;
  z-index: 9;
  margin-top: 0px;

}
#popArt{
  padding: 0;
  cursor: pointer;
  z-index: -10;
  width:100%;
  height: 370px; 
  border-radius: 5px 5px 0 0;
  border-top: 40px solid white;
  display: none;
}
#popArtWerk{
  padding: 0px;
  cursor: pointer;
  z-index: 10;
  width:100%;
  height: 370px; 
  border-radius: 5px 5px 0 0;
  border-top: 40px solid white;
  display: none;
}
#closeButton{
  margin-top: 10px;
  margin-left: 15px;
  height: 20px;
  width: 20px;
  float: right;
  position: absolute;
  display: none;
}
#externalLink{
  margin-top: 10px;
  margin-left: 55px;
  height: 20px;
  width: 20px;
  float: right;
  position: absolute;
  display: none;
}
#externalLinkAbout{
  margin-top: 10px;
  margin-left: 55px;
  height: 20px;
  width: 20px;
  float: right;
  position: absolute;
  display: none;
}
#closeButtonWerk{
  margin-top: 10px;
  margin-left: 15px;
  height: 20px;
  width: 20px;
  float: right;
  position: absolute;
  display: none;
}

/*Hieronder vindt je de css voor de werk tab.*/
#bodyWerk{
  overflow: scroll;
  height: unset;
  background: linear-gradient(#03286C, #070F33);
}
#headerWerk{
  display: flex;
  justify-content: center;
  margin: 0 auto 0 auto;
}

.werkContainer{
  display: flex;
  justify-content: center;
}
#bodyWerk, h2{
  width: 100%;
  text-align:center;
}
.werkGallerij{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}
.werkGallerij a{
  text-decoration: none;
}
.werkGallerij img{
  border-style: solid;
  border-color: turquoise;
}
a p{
  text-align: left;
}
.werkThumbnail{
  margin: 50px 25px 0px 0px;
  border-radius: 10px;;
  object-fit: cover;
  width: 200px;
  height: 300px;
}
.werkAfbeelding{
  margin: 50px 25px 0px 0px;
  border-radius: 10px;;
  object-fit: cover;
  width: 20em;
  height: 15em;
}
.werkText{
  text-align: left;
}

a, h2{
  margin: 10px 0 30px 0;
}
/*Hieronder vindt je de css voor de about tab.*/
#about{
  overflow: scroll;
  height: unset;
  background: linear-gradient(#03286C, #070F33);
}
main{
  display: flex;
  justify-content: center;
}
section, article{
  margin: 75px 0 0 0;
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
main h3{
  font-weight: bolder;
  margin: 50px 0 100px 0;
}
video{
  margin: 50px 0 75px 0;
  width: 30em;
  height: 20em;
}
#promoBoard{
  margin: 50px 0 75px 0;
}
@media (max-width:950px){
  .werkText{
    max-width: 30em;
    margin: 0 1em 0 1em;
  }
  .werkAfbeelding{
    margin: 2em 1em 0 1em;
  }
}