*{
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif;
    color: #8d99ae;
}
html{
    min-width:400px ;
}
nav{
    display: block;
    width: 100%;
    position: relative;
    margin: 0 !important;
}
img{
        width: 40%;
        position: absolute;
}

#close-image{
    width: 55%;
    margin: 11px 0 0 11px;;
}

body{
    background-image: url(images/concert.jpg); /*afbeelding door: https://www.pexels.com/@vishnu-r-nair-426592*/
    background-size: auto;

    -webkit-animation: back 15s infinite; /* Safari 4+ */
    -moz-animation:    back 15s infinite; /* Fx 5+ */
    -o-animation:      back 15s infinite; /* Opera 12+ */
    animation:         back 15s infinite; /* IE 10+, Fx 29+ */
}

@keyframes back {
    25% {
      background-image: url(images/guitar.jpeg); /*afbeelding door: https://www.pexels.com/@freestocks*/
    }
    50% {
      background-image: url(images/plaat.jpeg); /*afbeelding door: https://www.pexels.com/@ellis*/
    }
    
    75%{
      background-image: url(images/rappers.jpeg);
    }
    
  /* Animation Does Not End At 100% Because It Makes The Images Transition In/Out Better For Some Reason*/
  }

div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px auto;
    border-radius: 30px;
  }

    #firstDiv{
        margin: 12px auto 0 auto;
    }

    .menu-knop{
        width: 50px;
        height: 50px;
        position: absolute;
        background-color: #8d99ae;
        right: 0;
        margin: 20px 20px 0 0;
        border-radius: 30px;
        border: none;
    }

    .hidden-menu-container{
        background-color:#556779;
        position: fixed;
        z-index: 10;
        height: 100%;
        width: 50%;
        right: -50%;
        transition: .25s ease-in-out;
    }
    .verschijn{
        right: 0;
    }
    .verdwijn{
        right: -50%;
    }
    .mobile-menu{
        text-align: center;
    }   
        .mobile-menu a{
            color: white;
        }

.desktop-menu{
    display: none;
}
    .desk-top{
        display: none;
    }

li{
    list-style: none;
}
    #firstLi{
    margin: 100px 0 25px 0;
    display: block;
    cursor: pointer;
    }

a{
    line-height: 100px;
    text-decoration: none;
}
aboutText{
    margin: 500px auto 0 auto;
}
#artiest1{
    display:none;
    text-align: center;
    background-color: azure;
    position: relative;
}   
#artiest2{
    display:none;
    text-align: center;
    background-color: azure;
    position: relative;
}   
#artiest3{
    display:none;
    text-align: center;
    background-color: azure;
    position: relative;
}   

#artiest1Desk{
    text-align: center;
    background-color: azure;
    position: relative;
    display: block;
}   
#artiest2Desk{
    text-align: center;
    background-color: azure;
    position: relative;
    display: block;
}   
#artiest3Desk{
    text-align: center;
    background-color: azure;
    position: relative;
    display: block;
}  
.artiestVerschijn{
    display: block !important;
}

main{
    width: 400px;
    margin: 0 auto;
}

main p{
    text-align: center;
    width: 400px;
    position: absolute;
    margin:200px auto 0 auto;
    color: white;
}

/*Desktop versie*/
@media (min-width: 920px){

body{
    background-size:cover;
}
    .home-link{
        line-height: 0;
        margin:0;
        padding:0;
    }
    img{
        width: 20%;
        position: absolute;
    }

.menu-knop{
        display: none;
    }
#desktop-nav{
    display: flex;
    justify-content: center;
    }    
    .desktop-menu{
        display: flex;
        justify-content: baseline;
    }
    .desk-menu{
        margin: 0 100px;
    }
    .dropdown-content{
        display: none;
        top: 80px;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 230px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 20;  
    }
    .dropdown-content-verschijnt{
        display: block;
    }
    #desk-artists{
        line-height: 100px;
        cursor: pointer;
    }
    #firstLi{
        cursor: pointer;
        margin: 0;
        }
}